In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
df=pd.read_csv('supershops.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [5]:
df.dropna(inplace=True)

In [16]:
df=df.drop(['Area'],axis=1)

In [17]:
df.corr()

                 Marketing Spend  Administration  Transport    Profit
Marketing Spend         1.000000        0.227141   0.718574  0.937853
Administration          0.227141        1.000000   0.009534  0.197201
Transport               0.718574        0.009534   1.000000  0.782578
Profit                  0.937853        0.197201   0.782578  1.000000

In [19]:
x = df.drop(['Profit'],axis=1)

In [8]:
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [20]:
y = df[['Profit']]

In [21]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=0)

In [22]:
xtrain.shape

(36, 3)

In [23]:
xtrain.head()

    Marketing Spend  Administration  Transport
28         66051.52       182645.56  118148.20
49             0.00       116983.80   45173.06
2         153441.51       101145.55  407934.54
47             0.00       135426.92       0.00
18         91749.16       114175.79  294919.57

In [24]:
ytrain.head()

       Profit
28  103282.38
49   14681.40
2   191050.39
47   42559.73
18  124266.90

In [25]:
df.corr()

                 Marketing Spend  Administration  Transport    Profit
Marketing Spend         1.000000        0.227141   0.718574  0.937853
Administration          0.227141        1.000000   0.009534  0.197201
Transport               0.718574        0.009534   1.000000  0.782578
Profit                  0.937853        0.197201   0.782578  1.000000

Linear

In [28]:
reg = LinearRegression()
reg.fit(xtrain, ytrain)

LinearRegression()

In [29]:
y_pred = reg.predict(xtest)

In [30]:
y_pred

array([[ 90707.18524202],
       [166377.24276987],
       [124018.59727829],
       [ 93252.51801345],
       [ 97588.41924098],
       [ 68948.39245538],
       [ 89037.14295216],
       [ 73472.98068535],
       [159657.23912108],
       [129149.84623501],
       [128674.69774365],
       [ 88409.42998689],
       [ 96436.18820079]])

In [31]:
mse = mean_squared_error(ytest, y_pred)
print('MSE:', mse)

MSE: 101360809.28512499

In [32]:
reg.score(xtest, ytest)

0.8744319145336102

Polynomial

In [34]:
from sklearn.preprocessing import PolynomialFeatures

In [35]:
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

degree2

In [38]:
poly = PolynomialFeatures(degree=2)
x_poly = poly.fit_transform(x)

In [39]:
pd.DataFrame(X_poly).head()

,0,1,2,3,4,5,6,7,8,9
0,1.0,114523.61,136897.80,471784.10,1.311566e+10,1.567803e+10,5.403042e+10,1.874101e+10,6.458621e+10,2.225802e+11
1,1.0,162597.70,151377.59,443898.53,2.643801e+10,2.461365e+10,7.217688e+10,2.291517e+10,6.719629e+10,1.970459e+11
2,1.0,153441.51,101145.55,407934.54,2.354430e+10,1.551993e+10,6.259409e+10,1.023042e+10,4.126076e+10,1.664106e+11
3,1.0,144372.41,118671.85,383199.62,2.084339e+10,1.713294e+10,5.532345e+10,1.408301e+10,4.547501e+10,1.468419e+11
4,1.0,142107.34,91391.77,366168.42,2.019450e+10,1.298744e+10,5.203522e+10,8.352456e+09,3.346478e+10,1.340793e+11

In [40]:
xtrain, xtest, ytrain, ytest = train_test_split(X_poly, y, test_size=0.25, random_state=0)

In [42]:
xtrain.shape

(36, 10)

In [44]:
reg2 =LinearRegression()
reg2.fit(xtrain,ytrain)

LinearRegression()

In [45]:
y_pred2 = reg2.predict(xtest)

In [46]:
y_pred2

array([[101606.42692695],
       [164653.7682662 ],
       [131119.04611802],
       [104593.86990522],
       [ 99609.91567389],
       [ 68898.23379901],
       [ 92076.37087923],
       [ 72287.07989249],
       [154325.98721721],
       [128236.4189747 ],
       [128001.27841582],
       [110500.67878648],
       [ 76394.97789304]])

In [48]:
mse = mean_squared_error(ytest, y_pred2)
print('MSE:', mse)

MSE: 162866427.11400354

In [47]:
reg2.score(xtest, ytest)

0.7982373504740954